<html>  




<form methos="POST">
<p>
    <label for='name'>Name<label>
    <input type = "text" ae ="name" />
</p>    
    <label for='name'>Name<label>
    <input type = "text" ae ="name" />
    
    <label for='value'>Value<label>    
    <input type = "text" value ="Value" />
    
    <label for='name'>Name</label>
    <input type ="input" value ="Submit" />
    
</form>


<html>